@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans-thai');

body {
    font-family:'IBM Plex Sans Thai', sans-serif;
    background: linear-gradient(to right, #97007e, #ee5700);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }